# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f00c8eb23e294c91ebdbb4af313eb77c040bb6e6b25d05bb2650413733f9c260f1e317dca937faefd4793852a3940bdae622c348c496ecd2d6b4b4253d5985ef

test:
  secret_key_base: 8e1ad00ff09146f476d4591cc120fb75a1934100019736edc6ff4842c2f7d73cb1a5ed88ff987a2cad66d07025203104de7f3387a59d8197f9daee98159ec6b1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
